
<div>
<img src="/images/error.jpg" alt="imagen-de-error">
<h2>Se requiere autorización</h2>
<h3>Debe iniciar sesión para acceder a este documento</h3>
<a href="/login"><button>Iniciar sesión ahora</button></a>

</div>