<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Jardin secreto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/Icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styleProduct-detail.css">
    <link rel="stylesheet" href="/css/stylesINDEX.css">
</head>

<body>
    <header>
        <nav>
            <div class="infonav">
                <p>Envío gratis desde $15.000 - Promociones con todos los bancos! <a href="#">Más información acá</a>
                </p>
            </div>
            <div class="navbar">
                <div class="logo-btn">
                    <img src="images/Logo-verde.png" alt="Logo">
                </div>
                <div class="container">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscá tu producto favorito">
                        <button type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="/register"><i class="far fa-id-card"></i>
                                <span class="hidden-text">Registrate</span></a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>
                                <span class="hidden-text">Ingresá</span></a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i>
                                <span class="hidden-text">Mis compras</span></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="nav-list">
                    <li><a href="/productDetail">Interior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Exterior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Macetas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Insumos <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Herramientas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Semillas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/productDetail">Suculentas <i class="fas fa-caret-down"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
        </nav>

    </header>
    <main>



       
<!-- ALEGRIA DEL HOGAR -->

        <section class="product">

            <img class="product-img" src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria">

            <div class="product-info">
                <h2>Alegria del hogar</h2>
                <h3>$600</h3>
                <p>Aceptamos todos los medios de pago</p>
                <div class="payment-methods">

                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="far fa-money-bill-alt"></i>
                </div>
                <div class="location">
                    <h4>Nos ubicamos en:</h4>
                    <p><i class="fas fa-map-marker-alt"></i> 25 de mayo 1145</p>
                </div>
                <div class="description">
                    <h4>Descripción</h4>
                    <p>La Impatiens Walleriana, más conocida como Alegría del hogar, es una planta herbácea perenne
                        perteneciente al género Impatiens y originaria de África. Es muy utilizada en jardinería
                        exterior y existen infinidad de variedades con portes y colores de flor distintos.</p>
                </div>
                <div>
                    <img class="product-imgSmall" src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria">
                    <img class="product-imgSmall" src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria">
                    <img class="product-imgSmall" src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria">
                </div>
                <button class="button-trolley"><i class="fas fa-plus"></i></i>Añadir al carrito</button>



            </div>
        </section>




    </main>
    <footer>
        <section>
            <h5>Regalá una giftcard! <a href="#"><i class="fas fa-gift fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Contactate con nosotros <a href="#"><i class="fas fa-envelope fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Asesoramiento sin cargo <a href="#"><i class="fas fa-toolbox fa-lg"></i></a></h5>
        </section>
    </footer>
    <div class="info">
        <p>Copyright ©2023 Jardín Secreto. Todos los derechos reservados</p>
    </div>
    <script src="script.js"></script> <!--Prueba de linkeo para la carpeta de funciones scrip -Fran -->
</body>

</html>