<footer>
    <section>
        <h5>Regalá una giftcard!</h5>
        <a href="#"><i class="fas fa-gift fa-lg"></i></a>
    </section>
    <section>
        <h5>Contactate con nosotros</h5>
        <a href="#"><i class="fas fa-envelope fa-lg"></i></a>
    </section>
    <section>
        <h5>Asesoramiento</h5>
        <a href="#"><i class="fas fa-toolbox fa-lg"></i></a>
    </section>   
</footer>
<div class="info">
    <p>Copyright ©2023 Jardín Secreto. Todos los derechos reservados</p>
</div>
<script src="/js/script.js"></script>